In [3]:
a = 1
# if문 문법, {}사용 없이 indent로 구분
if a > 0:
    print("a ==", a)
    print("positive number")
# elif는 c의 else if이다
elif a == 0:
    print("a ==", a)
    print("zero")
else:
    print("a ==", a)
    print("negative number")

a == 1
positive number

In [4]:
list_data = [10, 20, 30, 40, 50]
dict_data = {'key1':1, 'key2':2}
# value in 연속적인 데이터타입(list, dictionary, tuple...)
if 45 in list_data:
    print("45 is in list_data")
else:
    print("45 is not in list_data")

if 'key1' in dict_data:
    print("key1 is in dict_data")
else:
    print("key1 is not in dict_data")

45 is not in list_data
key1 is in dict_data

In [11]:
# in range() 사용법
# in range(a) 0부터 a-1까지 1씩 증가시키며 data에 대입
# in range(0, a) 위와 같음
# in range(0, a, 2) 0부터 a-1까지 2씩 증가시켜 data에 대입
for data in range(10):
    print(data, " ", end='') # end='' 를 통해 print()가 마지막에 개행을 출력x
print('')
for data in range(0, 10):
    print(data, " ", end='')
print('')
for data in range(0, 10, 2):
    print(data, " ", end='')

0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  2  4  6  8